@model ProjectManager.Domain.Project

@{
    ViewBag.Title = "Details project: " + Model.Name;
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="row">
        @Html.LabelFor(model => model.Description)
        @Html.DisplayFor(model => model.Description)
    </div>
    <br />
    <div class="row">
        <h4>Sprints under this project: </h4>
        @if (Model.Sprints.Count == 0)
        {
            <h4>No sprints under this project.</h4>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Start date
                    </th>
                    <th>
                        End date
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Sprints)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            <a href="@Url.Action("EditSprint", "Projects", new { sprintId = item.Id, projectId = Model.Id })" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <a href="@Url.Action("RemoveSprint", "Projects", new {sprintId = item.Id, projId = Model.Id})" class="btn btn-danger">Remove sprint</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="row">
        <h4>Members under this project:</h4>
        @if (Model.Members.Count == 0)
        {
            <h4>No members under this project.</h4>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>
                    <th>
                        E-mail adress
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Members)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a href="@Url.Action("RemoveUser", "Projects", new {userId = item.Id,projId=Model.Id})" class="btn btn-danger">Remove member</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="row">
        <h4>Assignments under this project:</h4>
        @if (Model.Assignemnts.Count == 0)
        {
            <h4>No assignments under this project.</h4>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        Programist
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Sprint
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        Stop
                    </th>
                    <th>
                        Estimation
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>

                </tr>
                @foreach (var item in Model.Assignemnts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssignedTo.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sprint.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StopDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estimation)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Assignments", new { id = item.Id })" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete", "Assignments", new {id = item.Id,projId=Model.Id})" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    <br />
    <div class="text-center">
        <a href="@Url.Action("Edit", "Projects", new {id = Model.Id})" class="btn btn-primary">Edit</a>
        <a href="@Url.Action("CreateSprint", "Projects", new { id = Model.Id })" class="btn btn-primary">Add sprint</a>
        <a href="@Url.Action("CreateFromProject", "Assignments", new {id = Model.Id})" class="btn btn-primary">Add assignment</a>
        <a href="@Url.Action("GenerateReport", "Projects", new {id = Model.Id})" class="btn btn-primary">Generate raport</a>
    </div>
</div>    