@model ProjectManager.WebApp.Models.KanbanBoardViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Kanban Board</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            @Html.Label("Filters")
        </div>
        @*TODO: Add class "filters" *@
        <div class="col-md-11">
            <a href="#">
                Only High Priority
            </a>
            <a href="#">
                Assigned to me
            </a>
            <a href="#">
                Recently updated
            </a>
        </div>
    </div>
    <div class="row">
        @foreach (var status in Model.Stasuses.Where(status => status.Text != "Backlog"))
        {
            <div class="col-md-3">
                @Html.Label(status.Text)
                @foreach (var assignment in Model.Assignments.Where(assign => assign.Status.Description == status.Text))
                {
                    <div class="assignment">
                        @Html.Label(assignment.Name)
                        <br />
                        @assignment.Description
                        <br />
                        <div class="col-md-6">
                            @if (assignment.AssignedTo != null)
                            {
                                <a data-assignmentid="@assignment.Id" class="popup-button" href="">@assignment.AssignedTo.UserName</a>
                            }
                            else
                            {
                                <a data-assignmentid="@assignment.Id" class="popup-button" href="#">
                                    Unassigned
                                </a>
                            }
                        </div>

                        <div class="col-md-6">
                            <a class="popup-button-status" data-assignmentid="@assignment.Id" href="">
                                Change status
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<!-- przenieść gdzieś-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="dialog" title="Assign user to project" class="popup-dialog">
    @foreach (var user in Model.Users)
    {
        <div class="col-md-6">
            @user.UserName
        </div>
        <button data-userid="@user.Id" class="col-md-6 assign-user">
            Assign user
        </button>
    }
    <button class="col-md-12 assign-user">
        Cancel assignment
    </button>
    <button id="CancelPopup" class="btn margin-top-10px col-md-6">Cancel</button>
</div>

<div id="dialog-status" title="Change project status" class="popup-dialog">
    @foreach (var status in Model.Stasuses)
    {
        <div class="col-md-6">
            @status.Text
        </div>
        <button data-statusid="@status.Value" class="col-md-6 change-status">
            Change
        </button>
    }
    <button id="CancelPopupStatus" class="btn margin-top-10px">Cancel</button>
</div>

<script>

    var currentAssignmentId;

    $(function () {
        $("#dialog").dialog({
            autoOpen: false,
            resizable: false,
            draggable: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); }
        });
        $(".popup-button").click(function (e) {
            e.preventDefault();
            currentAssignmentId = $(this).attr("data-assignmentid");
            $("#dialog").dialog("open");
        });
    });

    $(function () {
        $("#dialog-status").dialog({
            autoOpen: false,
            resizable: false,
            draggable: false,
            width: "480",
            open: function (event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); }
        });
        $(".popup-button-status").click(function (e) {
            e.preventDefault();
            currentAssignmentId = $(this).attr("data-assignmentid");
            $("#dialog-status").dialog("open");
        });
    });

    $("#CancelPopup").click(function (e) {
        $("#dialog").dialog("close");
    });

    $("#CancelPopupStatus").click(function (e) {
        $("#dialog-status").dialog("close");
    });

    $(".assign-user").click(function (e) {
        var userId = $(this).attr("data-userid");

        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeCurrentAssignment", "Manager")',
            data: { userId: userId, currentAssignmentId: currentAssignmentId },
            datatype: "JSON",
            success: function (data) {
                location.reload();
            },
            error: function () {
                alert("Failed to get data from server");
            }
        });
    });

    $(".change-status").click(function (e) {
        var statusId = $(this).attr("data-statusid");

        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeAssignmentStatus", "Manager")',
            data: { statusId: statusId, currentAssignmentId: currentAssignmentId },
            datatype: "JSON",
            success: function (data) {
                location.reload();
            },
            error: function () {
                alert("Failed to get data from server");
            }
        });
    });

</script>