@model ProjectManager.WebApp.Models.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-center" }))
{
    @Html.ValidationSummary(true)
    <h2>Change password</h2>
    @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", placeholder = "Current password" })
    @Html.ValidationMessageFor(model => model.CurrentPassword)
    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "New password" })
    @Html.ValidationMessageFor(model => model.NewPassword)
    <input type="submit" value="Save" class="btn btn-lg btn-primary btn-block margin-top-10px" />
}