@model ProjectManager.Domain.Assignment

@{
    ViewBag.Title = "Details " + Model.Name;
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            DueDate
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt>
            Programist
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo.Email)
        </dd>

        <dt>
            Assignment kind
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>

        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>

        <dt>
            Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority.Description)
        </dd>

        <dt>
            Project
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

        <dt>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
