@model ProjectManager.Domain.Assignment

@{
    ViewBag.Title = "Details " + Model.Name;
}
<div style="padding:10px;">
    <h2 class="text-left">Details - @Html.DisplayFor(model => model.Name)</h2>

    <div>
       
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date
                </th>
                <th>
                    Owned by
                </th>
               
            </tr>

           
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Name)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Priority.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Status.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Owner.UserName)
                    </td>
                   
                </tr>
           
        </table>
        <h4>Descriprion</h4>
        <p>@Html.DisplayFor(modelItem => modelItem.Description)</p>

       
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>