@model ProjectManager.Domain.Assignment

@{
    ViewBag.Title = "Details assignment: " + Model.Name;
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="row">
        @Html.LabelFor(model => model.Description)
        @Html.DisplayFor(model => model.Description)
    </div>
    <br />
    <div class="row">
        <h4>Properties</h4>
        <table class="table">
            <tr>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Sprint
                </th>
                <th>
                    Due date
                </th>
                <th>
                    Start
                </th>
                <th>
                    Stop
                </th>
                <th>
                    Estimation
                </th>
                <th>
                    Owned by
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Priority.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Status.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Sprint.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StopDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Estimation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Owner.UserName)
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-offset-4">
        <a href="@Url.Action("Edit", "Assignments", new {id = Model.Id})" class="btn btn-primary col-md-2" style="margin-right: 5px;">Edit</a>

        <a href="@Url.Action("Delete", "Assignments", new {id = Model.Id})" class="btn btn-danger col-md-2">Remove</a>
    </div>
</div>