@model IEnumerable<ProjectManager.Domain.Assignment>

@{
    ViewBag.Title = "Assignments";
}

<h2>Assignments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Programist
        </th>
        <th>
            Category
        </th>
        <th>
            Owner
        </th>
        <th>
            Priority
        </th>
        <th>
          Project
        </th>
        <th>
           Status
        </th>
        <th>
           Assignment name
        </th>
        <th>
            Assignment description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTo.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
